{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% if user.is_authenticated %}
                    <div class="section-title">
                        <h2>Welcome {{ email }}</h2>
                    </div>
                {% else %}
                    <div class="section-title">
                        <h2>Our Works</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
